NEXTAUTH_URL=http://localhost:3005
MONGO_INITDB_ROOT_USERNAME=<username>
MONGO_INITDB_ROOT_PASSWORD=<password>
MONGO_EXPRESS_USERNAME=<username>
MONGO_EXPRESS_PASSWORD=<password>
MONGO_URI=mongodb://<username>:<password>@mongo:27017
MONGODB_URI=mongodb://<username>:<password>@mongo_dev:27017
STORAGE_PATH=/usr/evonest/file_storage_dev